body {
  margin: 0px;
  font-family: 'Nunito', sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
